.hero {
  background: rgb(30, 30, 30);
  color: white;
  text-align: center;
  padding: 50px;
}

.navbar-brand {
  font-size: 26px;
  font-family: "Mr Dafoe", cursive;
  color: rgb(66, 66, 66);
}

.navbar-nav {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.content {
  text-align: center;
  font-family: "Quicksand", sans-serif;

  padding: 50px;
}

.copyright {
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  margin: 5px 15px 5px 10px;
}

.fa-brands {
  margin: 0 5px;
  color: white;
  text-decoration: none;
}
.round {
  border: 3px solid black;
  border-radius: 50%;
}

.btn-dark {
  background: white;
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  padding: 12px 25px;
}

h1 {
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
}

small {
  font-size: 18px;
}

h2 {
  font-size: 120px;
  font-family: "DM Serif Display", serif;
  padding-top: 60px;
}

p {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

footer {
  background: black;
  color: white;
  text-align: right;
}

a {
  color: magenta;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

@media (max-width: 600px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 60px;
  }

  h1,
  h2,
  h3,
  p {
    text-align: left;
  }

  small {
    font-size: 12px;
  }

  .round {
    display: none;
  }
}
